html{
    background-color: #C5864B;
}

#rect{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #6B3A23;
    color: #E5773E;
    text-align: center;
    font-size: 30px;
}

#rect:hover{
    animation-name: rainbow;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform: rotateZ(7200deg);
    transition: trandform 5s ease;
}

@keyframes rainbow{
    from{
        background-color: #6B3A23;
        color: #ECD48A;
        margin-top: 10px;
        margin-left: 10px;
    }
    to{
        background-color: #2A3F3D;
        color: #C5864B;
        height:150px;
        width:fit-content;
        margin-top: 100px;
        margin-left: 100px;
        border-radius: 10%;
    }
    25%{
        color: #ECD48A;
    }
    50%{
        background-color: #CBB8BB;
        color: rgb(27, 32, 3);
    }
    75%{
        color: #ECD48A;
    }
}
